@page "/forecast"

@using Data
@using Forecast

@inject DataStorage DataStorage
@inject ForecastingManager ForecastingManager 

@switch (DataStorage.State)
{
    case State.UPLOAD:
        <FilesUpload Forecast="@this" />
        break;
    case State.DATA_SETUP:
        <DataSetup Forecast="@this"/>
        break;
    case State.CHOOSE_ALGORITHM:

        break;
    case State.DISPLAY_RESULTS:

        break;
}

@code {
    public void DataSetup()
    {
        DataStorage.State = State.DATA_SETUP;
        Update();
    }

    public void ChooseAlgorithm()
    {
        DataStorage.State = State.CHOOSE_ALGORITHM;
        Update();
    }

    public void Update()
    {
        InvokeAsync(StateHasChanged);
    }
}

<!--
    DATA TEST
        @foreach (var file in DataStorage.RawData)
        {
            <h5>@file.Name</h5>
            <p>
                @foreach (var line in file.Content)
                {
                    <div>@line</div>
                }
            </p>
        }
-->
