@page "/"
@inject NavigationManager NavigationManager 

<h1>Last Forecast</h1>
<p>Predict future sales, avoid stockouts, and optimize your business with our cutting-edge technology consisting of machine learning algorithms and complex mathematical formulas</p>

<RadzenButton Click="@(args => NavigationManager.NavigateTo("/forecast"))" Text="Start Now!" ButtonStyle="ButtonStyle.Secondary"/>
