@using Forecast
@using Data
@using System.IO
 
@inject IForecastingManager ForecastingManager
@inject SiteInfo SiteInfo

@if (loading == false)
{
<RadzenFieldset Text="Prediction Algorithm">
    <div class="block">
        <div class="col-md-4 align-items-center d-flex">
            <RadzenLabel Text="Algorithm" />
        </div>
        <div class="col-md-8">
            <RadzenDropDown AllowClear="false" TValue="string" @ref="algorithmDropDown"
                            Data=@algorithms Change="Update"/>
        </div>
    </div>

    @if (algorithmDropDown != null) 
    @if (algorithmDropDown.SelectedItem != null) 
    @if ( GetAlgorithmFromText(algorithmDropDown.SelectedItem.ToString()) == ForecastLibrary.PredictionAlgorithm.AUTO)
    {
        <div class="block">
            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="ML Algorithm" />
            </div>
            <div class="col-md-8">
                <RadzenDropDown AllowClear="false" TValue="string" @ref="bigDataDropDown"
                                Data=@MLAlgorithms Placeholder="Fast Tree Tweedie"/>
            </div>
        </div>
        <div class="block">
            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Simple Algorithm" />
            </div>
            <div class="col-md-8">
                <RadzenDropDown AllowClear="false" TValue="string" @ref="smallDataDropDown"
                                Data=@simpleAlgorithms Placeholder="Average"/>
            </div>
        </div>
    }
</RadzenFieldset>

    <div class="continueButton">
        <RadzenButton Text="Continue" Click="Continue" />
    </div>
}
else
{
    <h3>Calculating results...</h3>
    <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="margin-bottom: 20px" />
}

@code {
    [Parameter]
    public Pages.ForecastPage Forecast { get; set; }

    private List<string> algorithms = new List<string>() { "Auto (recommended)", "Average", "Lbfgs Poisson Regression", "Fast Tree Tweedie", "Fast Forest", "Sdca" };
    private List<string> MLAlgorithms = new List<string>() { "Lbfgs Poisson Regression", "Fast Tree Tweedie", "Fast Forest", "Sdca" };
    private List<string> simpleAlgorithms = new List<string>() { "Average" };

    private RadzenDropDown<string> algorithmDropDown;

    private RadzenDropDown<string> bigDataDropDown;
    private RadzenDropDown<string> smallDataDropDown;

    private bool loading = false;

    private void Continue()
    {
        string selectedAlgorithmText = "Auto (recommended)";
        string selectedBigDataAlgorithmText = "Fast Tree Tweedie";
        string selectedSmallDataAlgorithmText = "Average";

        if (algorithmDropDown.SelectedItem != null)
            selectedAlgorithmText = algorithmDropDown.SelectedItem.ToString();

        if (bigDataDropDown != null)
            if (bigDataDropDown.SelectedItem != null)
                selectedBigDataAlgorithmText = bigDataDropDown.SelectedItem.ToString();

        if (smallDataDropDown != null)
            if (smallDataDropDown.SelectedItem != null)
                selectedSmallDataAlgorithmText = smallDataDropDown.SelectedItem.ToString();

        ForecastingManager.PredictionAlgorithm = GetAlgorithmFromText(selectedAlgorithmText);
        ForecastingManager.MLPredictionAlgorithm = GetAlgorithmFromText(selectedBigDataAlgorithmText);
        ForecastingManager.SafePredictionAlgorithm = GetAlgorithmFromText(selectedSmallDataAlgorithmText);

        loading = true;
        InvokeAsync(StateHasChanged);

        Task.Run(() => InitiateForecast());
    }

    private void Update()
    {
        InvokeAsync(StateHasChanged);
    }

    private ForecastLibrary.PredictionAlgorithm GetAlgorithmFromText(string text)
    {
        switch (text)
        {
            case "Average":
                return ForecastLibrary.PredictionAlgorithm.AVERAGE;
            case "Fast Tree Tweedie":
                return ForecastLibrary.PredictionAlgorithm.FASTTREETWEEDIE;
            case "Fast Forest":
                return ForecastLibrary.PredictionAlgorithm.FASTFOREST;
            case "Lbfgs Poisson Regression":
                return ForecastLibrary.PredictionAlgorithm.LBFGSPOISSONREGRESSION;
            case "Sdca":
                return ForecastLibrary.PredictionAlgorithm.SDCA;
            case "Auto (recommended)":
                return ForecastLibrary.PredictionAlgorithm.AUTO;
            default:
                return ForecastLibrary.PredictionAlgorithm.AVERAGE;
        }
    }

    private void InitiateForecast()
    {
        ForecastingManager.FindLatestOrderDays();

        ExportToCSV();

        Forecast.DisplayResults();
    }

    private void ExportToCSV()
    {
        //string path = AppDomain.CurrentDomain.BaseDirectory.Substring(0, AppDomain.CurrentDomain.BaseDirectory.IndexOf("\\bin"));
        string path = (string)AppDomain.CurrentDomain.GetData("WebRootPath");
        string fileName = $"Forecast{DateTime.Now.Ticks}.csv";
        ForecastingManager.FileName = fileName;

        File.WriteAllText($"{path}/{fileName}", ListToText(GenerateCSVContent()));
    }

    private string ListToText(List<string> list)
    {
        string text = "";
        foreach (var line in list)
        {
            text += $"{line}{Environment.NewLine}";
        }

        return text;
    }

    private List<string> GenerateCSVContent()
    {
        List<string> content = new List<string>();

        string separatorChar = ForecastingManager.SeparatorCharacter;

        string header = $"product_code{separatorChar}product_title{separatorChar}until_stockout{separatorChar}monthly_sales{separatorChar}inventory{separatorChar}lead_time{separatorChar}month_to_date_qty{separatorChar}last_month_qty";
        content.Add(header);

        foreach (var product in ForecastingManager.Results)
        {
            string line = $"{product.Product.Code}{separatorChar}{product.Product.Title}{separatorChar}{product.DaysToOrder}{separatorChar}{product.MonthlySales}{separatorChar}{product.Product.Inventory}{separatorChar}{product.Product.LeadTime}{separatorChar}{product.Product.MonthToDateSales}{separatorChar}{product.Product.LastMonthSales}";
            content.Add(line);
        }

        return content;
    }
}
